.container {
  width: 100%;
  // border: 1px solid white;
  display: flex;
  justify-content: center;

  nav {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    border-radius: 100px;
    border: 1px solid rgba(100, 100, 100, 0.16);
    background: #121315;

    ul {
      display: flex;
      justify-content: center;
      // border: 1px solid white;
      list-style: none;
      gap: 36px;
      padding: 12px 56px;
      li {
        color: var(--prim-font-clr);
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}
