.backdropContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    .modalContainer {
        width: 662px;
        height: 462px;
        padding: 48px 112px;
        border-radius: 32px;
        border: 1px solid #646464;
        background: rgba(18, 19, 21, 0.64);
        box-shadow: 2px 4px 20px 0px rgba(119, 112, 210, 0.12);
        user-select: none;
        position: relative;

        .veLogoContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                margin-top: 8px;
                color: #e4e5e6;
                text-align: center;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
            }
        }

        button.continueWithGoogleBtn {
            width: 424px;
            margin-top: 36px;
            padding: 12px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 100px;
            border: 1px solid rgba(100, 100, 100, 0.16);
            background: white;
            cursor: pointer;

            p {
                color: #202124;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
            }
        }

        p.or {
            color: #555;
            font-family: Inter;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            padding: 16px 0;
            text-align: center;
        }

        .emailDiv {
            width: 424px;
            margin-bottom: 8px;

            input {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                background-color: inherit;
                outline: none;
                color: white;
            }
        }

        .fullnameDiv {
            width: 424px;
            margin-bottom: 8px;

            input {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                background-color: inherit;
                outline: none;
                color: white;
            }
        }

        .pwdDiv {
            width: 424px;
            margin-bottom: 8px;
            position: relative;

            .eyeIconContainer {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                cursor: pointer;
                width: 28px;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                background-color: inherit;
                outline: none;
                color: white;
            }
        }

        .actionBtns {
            display: flex;
            gap: 12px;
            margin-top: 12px;
            max-width: 424px;
            position: relative;

            .backBtn {
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                color: rgba(228, 229, 230, 0.48);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                padding: 12px 24px;
                background-color: inherit;
                cursor: pointer;
            }

            .continueBtn {
                padding: 12px 24px;
                width: 424px;
                border-radius: 100px;
                border: 1px solid white;
                background: #fff;
                cursor: pointer;
                border: none;

                .errMsg {
                    display: none;
                }
            }

            .continueBtnDisabled {
                padding: 12px 24px;
                width: 424px;
                border-radius: 100px;
                color: rgba(228, 229, 230, 0.48);
                border: 1px solid #202124;
                background: #202124;
                cursor: default;
                border: none;

                .errMsg {
                    color: rgba(255, 62, 62, 0.48);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    position: absolute;
                    bottom: -28px;
                    right: 4px;
                }
            }
        }

        p.navigateToLogin {
            position: absolute;
            bottom: 80px;
            left: 50%;
            transform: translateX(-50%);
            color: #707070;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;

            span {
                color: #6055ec;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                cursor: pointer;
            }
        }

        .companyTnC {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 16px;
            line-height: 1rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 8px;
            p {
                font-size: 10px;
                color: #fff;
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                text-align: center;
                span {
                    color: #6055ec;
                    cursor: pointer;
                }
            }
        }
    }
}
