.backdropContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    background-color: #121315a3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    @media (max-width: 500px) {
        .createWorkspaceModalContainer {
            width: 100%;
            padding: 0 24px;
            .titleContainer {
                margin-top: 24px !important ;
            }
        }
    }
    .createWorkspaceModalContainer {
        width: 461px;
        height: 100%;

        .titleContainer {
            margin: 96px 0 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1.title {
                color: #e4e5e6;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px; /* 146.667% */
            }

            .arrowNavs {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                svg {
                    cursor: pointer;
                }
            }
        }
        .progressBar {
            width: 100%;
            height: 2px;
            // background: rgba(228, 229, 230, 0.24);
            position: relative;

            .currentProgress {
                position: absolute;
                left: 0;
                top: 0;
                height: 2px;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
                background-color: white;
                transition: width 0.3s ease-in-out;
            }
        }

        .nameContainer,
        .bizUrlContainer,
        .bizNameContainer,
        .bizTypeContainer,
        .bizDomainContainer {
            margin-top: 24px;
            position: relative;
            h1.name,
            h1.bizUrl,
            h1.bizName,
            h1.bizType,
            h1.bizDomain {
                color: rgba(228, 229, 230, 0.48);
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px; /* 133.333% */
            }

            input.inputName,
            input.bizUrlInput,
            input.bizNameInput,
            select.bizTypeInput {
                margin-top: 8px;
                color: rgba(228, 229, 230, 0.64);
                font-family: Inter;
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px;
                outline: none;
                border-radius: 16px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                background-color: inherit;
                padding: 12px 24px;
                width: 100%;
            }

            .bizDomainInputDiv {
                position: relative;

                input.bizDomainInput {
                    margin-top: 8px;
                    color: rgba(228, 229, 230, 0.64);
                    font-family: Inter;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    outline: none;
                    border-radius: 16px;
                    border: 1px solid rgba(100, 100, 100, 0.16);
                    background-color: inherit;
                    padding: 12px 24px;
                    width: 100%;
                }

                span.domainExtension {
                    position: absolute;
                    right: 24px;
                    top: 50%;
                    transform: translateY(calc(-50% + 4px));
                    color: rgba(228, 229, 230, 0.24);
                    font-family: Inter;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                }
            }

            .errMsg {
                color: rgba(255, 62, 62, 0.48);
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                position: absolute;
                bottom: -20px;
                right: 0;
            }
        }

        .brandLogoAndColorContainer {
            margin-top: 24px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 45px;

            .logoContainer {
                h1.yourLogo {
                    color: rgba(228, 229, 230, 0.48);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px; /* 133.333% */
                    margin-bottom: 8px;
                }

                .uploadLogoDiv {
                    width: 145px;
                    height: 89px;
                    position: relative;
                    border-radius: 20.345px;
                    border: 1.5px solid rgba(100, 100, 100, 0.16);

                    .uploadLabel {
                        display: flex; /* Enable Flexbox */
                        justify-content: center; /* Center content horizontally */
                        align-items: center; /* Center content vertically */
                        flex-direction: column;
                        gap: 8px;
                        width: 100%; /* Full width */
                        height: 100%;

                        width: 100%;
                        height: 100%;
                        cursor: pointer;
                        color: rgba(228, 229, 230, 0.48);
                        font-family: Inter;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 14px;
                    }

                    input.logoUploadInput {
                        display: none;
                    }

                    .imgPreview {
                        width: 145px;
                        height: 89px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 101%;
                            height: 100%;
                            border-radius: 20.345px;
                            object-fit: contain;
                            border: 2px solid white;
                            background-color: white;
                        }
                    }
                }
            }

            .colorContainer {
                h1.addBrandColors {
                    color: rgba(228, 229, 230, 0.48);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px; /* 133.333% */
                    margin-bottom: 8px;
                }

                .ColorPaletteContainer {
                    svg {
                        cursor: pointer;
                    }
                }
            }
        }

        .createWorkspaceBtnDiv {
            width: 100%;
            height: 110px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 32px;
            button.createWorkspaceBtn {
                width: 328px;
                height: 42px;
                margin: 0 20px;
                height: 42px;
                border-radius: 100px;
                background: #fff;
                border: none;
                cursor: pointer;
            }
        }
    }

    .forgotPwdModalContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 662px;
        height: 462px;
        border-radius: 32px;
        border: 1px solid #646464;
        background: rgba(18, 19, 21, 0.64);
        box-shadow: 2px 4px 40px 0px rgba(119, 112, 210, 0.12);
        backdrop-filter: blur(12px);

        h1.title {
            color: #e4e5e6;
            text-align: center;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            margin-bottom: 36px;
        }

        .codeDiv {
            // border-radius: 20px;
            width: 424px;
            // padding: 12px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            margin-bottom: 36px;
            // border: 1px solid rgba(100, 100, 100, 0.16);
            // background: #202124;

            .digitBox {
                position: relative;

                input {
                    width: 48px;
                    height: 48px;
                    text-align: center;
                    outline: none;
                    border: none;
                    border-radius: 4px;
                    background: #202124;
                    caret-color: white;
                    color: white;
                }
                svg {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -12px;
                }
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        p.resendCode {
            color: rgba(228, 229, 230, 0.48);
            font-family: Inter;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            position: absolute;
            left: 121px;
            top: 246px;
            cursor: pointer;

            &:hover {
                color: white;
                text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
            }
        }
        .actionBtns {
            display: flex;
            gap: 12px;
            margin-top: 12px;
            width: 424px;
            position: relative;

            .backBtn {
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                color: rgba(228, 229, 230, 0.48);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                padding: 12px 24px;
                background-color: inherit;
                cursor: pointer;
            }

            .continueBtn {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid white;
                background: #fff;
                cursor: pointer;
                border: none;
            }

            .continueBtnDisabled {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                color: rgba(228, 229, 230, 0.48);
                border: 1px solid #202124;
                background: #202124;
                cursor: default;
                border: none;
            }

            .errMsg {
                color: rgba(255, 62, 62, 0.48);
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                position: absolute;
                bottom: -28px;
                right: 4px;
            }
        }
    }

    @media (max-width: 500px) {
        .modalContainer {
            width: 100% !important;
            padding: 24px !important;
            margin: 8px;
            display: flex;
            // justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }

    .modalContainer {
        width: 662px;
        height: 462px;
        padding: 48px 112px;
        border-radius: 32px;
        border: 1px solid #646464;
        background: rgba(18, 19, 21, 0.64);
        box-shadow: 2px 4px 20px 0px rgba(119, 112, 210, 0.12);
        user-select: none;
        position: relative;

        .veLogoContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            p {
                margin-top: 8px;
                color: #e4e5e6;
                text-align: center;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
            }
        }

        @media (max-width: 500px) {
            button.continueWithGoogleBtn {
                width: 212px !important;
            }
        }

        button.continueWithGoogleBtn {
            width: 424px;
            margin-top: 36px;
            padding: 12px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 100px;
            border: 1px solid rgba(100, 100, 100, 0.16);
            background: white;
            cursor: pointer;

            p {
                color: #202124;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
            }
        }

        p.or {
            color: #555;
            font-family: Inter;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            padding: 16px 0;
            text-align: center;
        }

        @media (max-width: 500px) {
            .emailDiv {
                width: 212px !important;
            }
        }

        .emailDiv {
            width: 424px;
            margin-bottom: 8px;

            input {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                background-color: inherit;
                outline: none;
                color: white;
            }
        }

        .fullnameDiv {
            width: 424px;
            margin-bottom: 8px;

            input {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                background-color: inherit;
                outline: none;
                color: white;
            }
        }

        .pwdDiv {
            width: 424px;
            margin-bottom: 8px;
            position: relative;

            .eyeIconContainer {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                cursor: pointer;
                width: 28px;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                background-color: inherit;
                outline: none;
                color: white;
            }
        }

        @media (max-width: 500px) {
            .actionBtns {
                width: 212px !important;
            }
        }

        .actionBtns {
            display: flex;
            gap: 12px;
            margin-top: 12px;
            max-width: 424px;
            position: relative;

            .backBtn {
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                color: rgba(228, 229, 230, 0.48);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                padding: 12px 24px;
                background-color: inherit;
                cursor: pointer;
            }

            .continueBtn {
                padding: 12px 24px;
                width: 424px;
                border-radius: 100px;
                border: 1px solid white;
                background: #fff;
                cursor: pointer;
                border: none;

                .errMsg {
                    display: none;
                }
            }

            .continueBtnDisabled {
                padding: 12px 24px;
                width: 424px;
                border-radius: 100px;
                color: rgba(228, 229, 230, 0.48);
                border: 1px solid #202124;
                background: #202124;
                cursor: default;
                border: none;

                .errMsg {
                    color: rgba(255, 62, 62, 0.48);
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    position: absolute;
                    bottom: -28px;
                    right: 4px;
                }
            }
        }

        p.navigateToLogin {
            position: absolute;
            bottom: 80px;
            left: 50%;
            transform: translateX(-50%);
            color: #707070;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;

            span {
                color: #6055ec;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                cursor: pointer;
            }
        }

        .companyTnC {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 16px;
            line-height: 1rem;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 8px;
            p {
                font-size: 10px;
                color: #fff;
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                text-align: center;
                span {
                    color: #6055ec;
                    cursor: pointer;
                }
            }
        }
    }
}
