.backdropContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;

    .createNewWorkspaceModalContainer {
        width: 461px;
        height: 100%;
        border: 1px solid red;

        .title {
            h1 {
                margin-top: 96px;
                color: #e4e5e6;
                font-family: Inter;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
            }
        }

        .progressBar {
            margin-top: 8px;
            width: 100%;
            height: 1px;
            background: rgba(228, 229, 230, 0.24);
        }

        p.getName {
            margin-top: 40px;
            color: rgba(228, 229, 230, 0.48);
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
        }
    }

    .modalContainer {
        width: 662px;
        height: 462px;
        padding: 48px 112px;
        border-radius: 32px;
        border: 1px solid #646464;
        background: rgba(18, 19, 21, 0.64);
        box-shadow: 2px 4px 20px 0px rgba(119, 112, 210, 0.12);
        position: relative;

        h1.loginTitle {
            color: #e4e5e6;
            text-align: center;
            font-family: Inter;
            font-size: 28px;
            font-style: normal;
            font-weight: 500;
        }

        p {
            margin-top: 8px;
            color: #e4e5e6;
            text-align: center;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
        }

        .continueWithGoogleDiv {
            width: 424px;
            margin-top: 36px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;
            border-radius: 100px;
            border: 1px solid rgba(100, 100, 100, 0.16);
            background-color: #202124;
            cursor: pointer;

            .userInfo {
                display: flex;
                gap: 8px;

                .nameAndEmail {
                    h1 {
                        color: #e4e5e6;
                        font-family: Inter;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 18px;
                    }
                    h2 {
                        color: #e4e5e6;
                        font-family: Inter;
                        font-size: 11px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 14px;
                    }
                }
            }

            .GoogleLogoDiv {
                background-color: white;
                width: 28px;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
            }
        }

        p.or {
            color: #555;
            font-family: Inter;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            user-select: none;
        }

        .emailDiv {
            width: 424px;
            margin-top: 8px;
            input {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                background-color: inherit;
                outline: none;
                color: white;
            }

            &:-webkit-autofill {
                background-color: red !important;
            }
        }

        .pwdDiv {
            width: 424px;
            margin-top: 8px;
            position: relative;

            .eyeIconContainer {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
                cursor: pointer;
                width: 28px;
                height: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            input {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                background-color: inherit;
                outline: none;
                color: white;
            }
        }

        .actionBtns {
            display: flex;
            gap: 12px;
            margin-top: 12px;
            max-width: 424px;
            position: relative;

            .backBtn {
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                color: rgba(228, 229, 230, 0.48);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                padding: 12px 24px;
                background-color: inherit;
                cursor: pointer;
            }

            .continueBtn {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid white;
                background: #fff;
                cursor: pointer;
                border: none;
            }

            .continueBtnDisabled {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                color: rgba(228, 229, 230, 0.48);
                border: 1px solid #202124;
                background: #202124;
                cursor: default;
                border: none;
            }

            .errMsg {
                color: rgba(255, 62, 62, 0.48);
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                position: absolute;
                bottom: -28px;
                right: 4px;
            }
        }

        p.forgotPwd {
            position: absolute;
            bottom: 106px;
            width: fit-content;
            color: #6055ec;
            text-align: center;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            // font-weight: 500;
            line-height: 16px;
            cursor: pointer;
        }

        .companyTnC {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 16px;
            line-height: 1rem;
            p {
                font-size: 10px;
                user-select: none;
            }
            span {
                color: #6055ec;
                cursor: pointer;
            }
        }
    }

    .forgotPwdModalContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 662px;
        height: 462px;
        border-radius: 32px;
        border: 1px solid #646464;
        background: rgba(18, 19, 21, 0.64);
        box-shadow: 2px 4px 40px 0px rgba(119, 112, 210, 0.12);
        backdrop-filter: blur(12px);

        h1.title {
            color: #e4e5e6;
            text-align: center;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            margin-bottom: 36px;
        }

        .codeDiv {
            // border-radius: 20px;
            width: 424px;
            // padding: 12px 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            margin-bottom: 36px;
            // border: 1px solid rgba(100, 100, 100, 0.16);
            // background: #202124;

            .digitBox {
                position: relative;

                input {
                    width: 48px;
                    height: 48px;
                    text-align: center;
                    outline: none;
                    border: none;
                    border-radius: 4px;
                    background: #202124;
                    caret-color: white;
                    color: white;
                }
                svg {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -12px;
                }
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }

        p.resendCode {
            color: rgba(228, 229, 230, 0.48);
            font-family: Inter;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            position: absolute;
            left: 121px;
            top: 246px;
            cursor: pointer;

            &:hover {
                color: white;
                text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
            }
        }
        .actionBtns {
            display: flex;
            gap: 12px;
            margin-top: 12px;
            width: 424px;
            position: relative;

            .backBtn {
                border-radius: 100px;
                border: 1px solid rgba(100, 100, 100, 0.16);
                color: rgba(228, 229, 230, 0.48);
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                padding: 12px 24px;
                background-color: inherit;
                cursor: pointer;
            }

            .continueBtn {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                border: 1px solid white;
                background: #fff;
                cursor: pointer;
                border: none;
            }

            .continueBtnDisabled {
                padding: 12px 24px;
                width: 100%;
                border-radius: 100px;
                color: rgba(228, 229, 230, 0.48);
                border: 1px solid #202124;
                background: #202124;
                cursor: default;
                border: none;
            }

            .errMsg {
                color: rgba(255, 62, 62, 0.48);
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                position: absolute;
                bottom: -28px;
                right: 4px;
            }
        }
    }
}
